<form class="ui stacked segment form" action="/manager/addalbum" method="POST" enctype="multipart/form-data">
  <div class="field">
    <label>Title</label>
    <input placeholder="Title" type="text" name="title" autofocus required>
  </div>
  <div class="field">
    <label>Album Image</label>
    <input type="file" name="image" accept="image/*">
  </div>
 <button class="ui blue submit button">Add Album</button>
</form>
