{{> intromenu id='index' }}

<section class="ui center aligned middle aligned segment">
  <link rel="stylesheet" href="/style.css">

  <h2>Music Manager App</h2>

  <p>
    Welcome to the Music Manager App. Please login or signup to manage your music collection.
  </p>

  <div class="ui buttons">
    <a href="/login" class="ui blue button">Login</a>
    <a href="/signup" class="ui green button">Signup</a>
  </div>

</section>