{{> menu}}

<section class="ui center aligned middle aligned segment">
<link rel="stylesheet" href="/style.css">
  
  <h2>Music Manager App</h2>

  <p>
    Welcome to the Music Manager App. This is a simple application where you can create and manage your tracks. Use the manager to view your tracks. There are some songs already added to the app, so feel free to explore and create your own playlists!
  </p>

  {{#with stats}}
  <div class="ui center aligned grid stats-panel">
    <div class="ui sixteen wide column">
      <div class="ui centered four statistics">
        <div class="ui statistic">
          <div class="value">
            <i class="microphone icon"></i>
          </div>
          <div class="label">
            {{displayNumAlbums}} albums
          </div>
        </div>

        <div class="ui red statistic">
          <div class="value">
            <i class="music icon"></i>
          </div>
          <div class="label">
            {{displayNumTracks}} tracks
          </div>
        </div>

        <div class="ui purple statistic">
          <div class="value">
            <i class="users icon"></i>
          </div>
          <div class="label">
            {{displayNumAccounts}} accounts
          </div>
        </div>

        <div class="ui blue statistic">
          <div class="value">
            <i class="balance scale icon"></i>
          </div>
          <div class="label">
            Average tracks per album: {{displayAverage}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}

  <img src="./app.png" alt="App Image" class="app-image">
  <img src="./FL.png" alt="FL Studio" class="fl-image">

</section>
