<h2>{{album.name}}</h2>

{{#each album.tracks}}
  <div class="song-item">
    <strong>{{name}}</strong> - {{artist}}
    <div>Duration: {{duration}}</div>
  </div>
{{/each}}

<a href="/manager" class="ui button primary back-button">
  Back to Manager
</a>